body {

    background-color: grey;



}

.casillas{
    align-content: center;
    text-align: center;
    font-size: x-large;
    height: 50px;
    width: 50px;
    

}
.tablero{
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    border: solid red;
    width: 400px;
    height: 400px;
}

.casillaB{

    color: black;
    background-color: white;

}
.casillaN{

    color: white;
    background-color: black;
}